* {
  font-family: 'Poppins';
}

body {
  background-color: black;
  color: white;
}


.profile-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
  padding-bottom: 24px;
}

.profile-picture > img {
  border-radius: 50%;
  margin-bottom: 8px;
}

.profile-picture > h3 {
  color: rgb(25, 120, 33);
  margin: 0;
  font-size: 24px;
}

.profile-picture > p {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
}

.profile-picture > * {
  margin-top: 12px;
}

.my-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
  padding-bottom: 24px;
}

.my-work > h3 {
  color: rgb(25, 120, 33);
  margin: 0;
  font-size: 24px;
}
